{% extends "base.html.twig" %}

{% block title %}
	Nassim HATTAB | Portfolio
{% endblock %}

{% block body %}

	<div class="hero">
		<div class="hero__body">
			<div class="hero__hello fade" data-delay="1">
				Bonjour, je suis</div>
			<div class="hero__name fade" data-delay="2">
				Nassim Hattab </div>
			<div class="hero__job fade" data-delay="3">
				Développeur Web PHP Symfony</div>
		</div>
		<div class="hero__img fade" data-delay"35">
			<img src="/img/profile.png" alt="" >
		</div>
	</div>
	<section class="section skills__section">
		<div class="top__title fade" data-delay="1">Mes compétences</div>
		<div class="sub__title fade" data-delay="2">Services</div>
		<div class="skills__items fade" data-delay="2">

			<div class="skills__stack fade" data-delay="25">
				<img src="/img/symfony.svg" alt="symfony-logo">
				<div class="skills__techno">Backend Symfony</div>
				Je développe des applications PHP maintenables et testables en respectant les bonnes pratiques avec le Framework Symfony 5.
			</div>

			<div class="skills__stack fade" data-delay="30">
				<img src="/img/js-react.svg" alt="js-react-logo">
				<div class="skills__techno">
					Frontend ReactJS</div>
				Je fais également du frontend avec ReactJS pour une UX optimale.
			</div>

			<div class="skills__stack fade" data-delay="35">
				<img src="/img/env.svg" alt="js-react-logo">
				<div class="skills__techno">Environnement de dév
				</div>
				Je développe principalement sous Linux (WSL2), et j'utilise Docker pour mon environnement de développement.
			</div>
		</div>
	</section>

	<section id="projects" class="section projects__section">
		<div class="top__title fade" data-delay="1">Mes réalisations</div>
		<div class="sub__title fade" data-delay="2">Projets</div>
		<div class="flickity fade" data-delay="1">
			<div class="project">
				<div class="project__img">
					<img src="/img/uptoboxy.jpg" alt="">
				</div>
				<div class="project__description">
					<div class="top__title">Projet 1</div>
					<div class="project_name">ProjectName</div>
					<div>
						orem ipsum dolor sit amet consectetur adipisicing elit. Suscipit qui quasi ab non voluptate voluptates a, vero id tempora ratione, rem rerum incidunt placeat adipisci amet assumenda deleniti libero illum.
					</div>
					<div class="porject__link">
						<a href="">En savoir plus</a>
					</div>
				</div>

			</div>

			<div class="project">
				<div class="project__img">
					<img src="https://picsum.photos/400/300?image=0" alt="projet">
				</div>
				<div class="project__description">

					<div class="top__title">Projet 2</div>
					<div class="project_name">ProjectName</div>
					<div>
						orem ipsum dolor sit amet consectetur adipisicing elit. Suscipit qui quasi ab non voluptate voluptates a, vero id tempora ratione, rem rerum incidunt placeat adipisci amet assumenda deleniti libero illum.
					</div>
					<div class="porject__link">
						<a href="">En savoir plus</a>
					</div>
				</div>

			</div>

			<div class="project">
				<div class="project__img">
					<img src="https://picsum.photos/400/300?image=520" alt="">
				</div>
				<div class="project__description">
					<div class="top__title">Projet 3</div>
					<div class="project_name">ProjectName</div>
					<div>
						orem ipsum dolor sit amet consectetur adipisicing elit. Suscipit qui quasi ab non voluptate voluptates a, vero id tempora ratione, rem rerum incidunt placeat adipisci amet assumenda deleniti libero illum.
					</div>
					<div class="porject__link">
						<a href="">En savoir plus</a>
					</div>
				</div>
			</div>

			<div class="project">
				<div class="project__img">
					<img src="https://picsum.photos/400/300?image=500" alt="">
				</div>

				<div class="project__description">
					<div class="top__title">Projet 4</div>
					<div class="project_name">ProjectName</div>
					<div>
						orem ipsum dolor sit amet consectetur adipisicing elit. Suscipit qui quasi ab non voluptate voluptates a, vero id tempora ratione, rem rerum incidunt placeat adipisci amet assumenda deleniti libero illum.
					</div>
					<div class="porject__link">
						<a class="porject__link" href="">En savoir plus</a>
					</div>
				</div>
			</div>
		</section>
	{% endblock %}
