{% extends "base.html.twig" %}

{% block title  "Nassim HATTAB | Développeur Web" %}

{% block body %}

	<div class="hero">
		<div class="hero__body">
			<div class="hero__hello fade" data-delay="1">Bonjour, je suis</div>
			  <h1 class="hero__name fade" data-delay="2">	Nassim Hattab </h1>
			    <h2 class="hero__job fade" data-delay="3">Développeur Web</h2>
		</div>
		<div class="hero__img fade" data-delay"5">
			<img src="/img/profile.png" alt="Photo Nassim Hattab" >
		</div>
	</div>
	<!-- skills section -->
	<section class="section skills__section">
		<h1 class="top__title fade" data-delay="1">Mes compétences</h1>
		  <h2 class="sub__title fade" data-delay="2">Services</h2>
		<div class="skills__items fade" data-delay="2">

			<div class="skills__stack fade" data-delay="25">
				<img src="/img/symfony.svg" alt="symfony-logo">
				  <h3 class="skills__techno">Backend Symfony</h3>
				  Je développe des applications PHP maintenables et testables en respectant les bonnes pratiques avec le Framework Symfony 5.
			</div>

			<div class="skills__stack fade" data-delay="30">
				<img src="/img/js-react.svg" alt="js-react-logo">
				  <h3 class="skills__techno">Frontend ReactJS</h3>
				  Je fais également du frontend avec ReactJS pour une UX optimale.
			</div>

			<div class="skills__stack fade" data-delay="35">
				<img src="/img/env.svg" alt="js-react-logo">
				  <h3 class="skills__techno">Environnement de travail</h3>
				  Je développe principalement sous Linux (WSL2) et Docker.
			</div>
		</div>
	</section>

	<!-- projects section -->
	<section id="projects" class="section projects__section">
		<h1 class="top__title fade" data-delay="1">Mes réalisations</h1>
    <div class="fade" data-delay="2">
      <h2 class="sub__title fade">Projets</h2>
        <p style="margin-top:-30px; margin-bottom: 25px;">Voici quelques projets sur lequels j'ai travaillé.</p>
    </div>
		  
		<div class="flickity fade" data-delay="3">
			<div class="project">
				<div class="project__img">
					<img src="/img/file-share.jpg" alt="file share project">
				</div>
				<div class="project__description">
					<div class="top__title">Symfony, Turbo Hotwire</div>
					<div class="sub__title">FileShare</div>
					<div>
						Pour <strong>FileShare</strong>, inspiré de <strong>zippyshare.com</strong>. Une app pour partager des fichiers de petite taille avec la possibilité de créer un compte et de gérer ses fichiers.
					</div>
					<div class="porject__link">
						<a href="https://github.com/Sousx-Lab/file-share" rel="noopener" target="_blank">En savoir plus</a>
					</div>
				</div>
			</div>

			<div class="project">
				<div class="project__img">
					<img src="/img/straw-poll.jpg" alt="straw poll project">
				</div>
				<div class="project__description">

					<div class="top__title">Symfony, Mercure</div>
					<div class="sub__title">Straw Poll</div>
					<div>
						Pour <strong>Straw Poll</strong>, inspiré de <strong>strawpoll.me</strong>. Une app pour créer des sondages et voir les résultats des votes en temps réel.
					</div>
					<div class="porject__link">
						<a href="https://github.com/Sousx-Lab/Staw-poll-realtime" rel="noopener" target="_blank">En savoir plus</a>
					</div>
				</div>

			</div>

			<div class="project">
				<div class="project__img">
					<img src="/img/chat-sym.jpg" alt="chat application project">
				</div>
				<div class="project__description">
					<div class="top__title">Symfony, Api Platform, Mercure, ReactJS</div>
					<div class="sub__title">Chat App</div>
					<div>
						Une application de chat qui utilise <strong>mercure.rocks </strong> pour acheminer les messages en temps réel, possibilité de créer des nouveaux salons, changer d'avatar et de pseudo.
					</div>
					<div class="porject__link">
						<a href="https://github.com/Sousx-Lab/SymfonyMercureChat" rel="noopener" target="_blank">En savoir plus</a>
					</div>
				</div>
			</div>

			<div class="project">
				<div class="project__img">
					<img src="/img/simple-ecommerce.jpg" alt="simple ecommerce project">
				</div>

				<div class="project__description">
					<div class="top__title">Symfony, EasyAdmin, Stripe</div>
					<div class="sub__title">Simple E-commerce</div>
					<div>
						Simple e-commerce permet de démarrer une boutique en ligne rapidement. Avec un Back office développé avec EasyAdmin et un système de payement avec Stipe .
					</div>
					<div class="porject__link">
						<a class="porject__link" href="https://github.com/Sousx-Lab/simple-e-commerce" rel="noopener" target="_blank">En savoir plus</a>
					</div>
				</div>
			</div>
		</section>
	{% endblock %}
