{% extends "base.html.twig" %}

{% block title %}
	Nassim HATTAB | Portfolio
{% endblock %}

{% block body %}

	<div class="hero">
		<div class="hero__body">
			<div class="hero__hello fade" data-delay="1">
				Bonjour, je suis</div>
			<div class="hero__name fade" data-delay="2">
				Nassim Hattab </div>
			<div class="hero__job fade" data-delay="3">
				Développeur Web PHP Symfony</div>
		</div>
		<div class="hero__img fade" data-delay"5">
			<img src="/img/profile.png" alt="" >
		</div>
	</div>
	<!-- skills section -->
	<section class="section skills__section">
		<div class="top__title fade" data-delay="1">Mes compétences</div>
		<div class="sub__title fade" data-delay="2">Services</div>
		<div class="skills__items fade" data-delay="2">

			<div class="skills__stack fade" data-delay="25">
				<img src="/img/symfony.svg" alt="symfony-logo">
				<div class="skills__techno">Backend Symfony</div>
				Je développe des applications PHP maintenables et testables en respectant les bonnes pratiques avec le Framework Symfony 5.
			</div>

			<div class="skills__stack fade" data-delay="30">
				<img src="/img/js-react.svg" alt="js-react-logo">
				<div class="skills__techno">
					Frontend ReactJS</div>
				Je fais également du frontend avec ReactJS pour une UX optimale.
			</div>

			<div class="skills__stack fade" data-delay="35">
				<img src="/img/env.svg" alt="js-react-logo">
				<div class="skills__techno">Environnement de dév
				</div>
				Je développe principalement sous Linux (WSL2) et Docker.
			</div>
		</div>
	</section>

	<!-- projects section -->
	<section id="projects" class="section projects__section">
		<div class="top__title fade" data-delay="1">Mes réalisations</div>
		<div class="sub__title fade" data-delay="2">Projets</div>
		<div class="flickity fade in" data-delay="1">
			<div class="project">
				<div class="project__img">
					<img src="/img/file-share.jpg" alt="projet file share">
				</div>
				<div class="project__description">
					<div class="top__title">Symfony, Turbo Hotwire</div>
					<div class="sub__title">FileShare</div>
					<div>
						Pour <strong>FileShare</strong> je me suis inspiré du site <strong>zippyshare.com</strong>. Une app pour partager des fichiers de petite taille avec la possibilité de créer un compte et de gérer ses fichiers.
					</div>
					<div class="porject__link">
						<a href="https://github.com/Sousx-Lab/file-share" rel="noopener" target="_blank">En savoir plus</a>
					</div>
				</div>

			</div>

			<div class="project">
				<div class="project__img">
					<img src="/img/straw-poll.jpg" alt="projet">
				</div>
				<div class="project__description">

					<div class="top__title">Symfony, Mercure</div>
					<div class="sub__title">Straw Poll</div>
					<div>
						Pour <strong>Straw Poll</strong> je me suis inspiré de <strong>strawpoll.me</strong>. Une app pour créer des sondages et voir les résultats des votes en temps réel.
					</div>
					<div class="porject__link">
						<a href="https://github.com/Sousx-Lab/Staw-poll-realtime" rel="noopener" target="_blank">En savoir plus</a>
					</div>
				</div>

			</div>

			<div class="project">
				<div class="project__img">
					<img src="/img/chat-sym.jpg" alt="chat application">
				</div>
				<div class="project__description">
					<div class="top__title">Symfony, Api Platform, Mercure, ReactJS</div>
					<div class="sub__title">Chat App</div>
					<div>
						Une application de chat qui utilise <strong>mercure.rocks </strong> pour acheminer les messages en temps réel, possibilité de créer des nouveaux salons, changer d'avatar et de pseudo.
					</div>
					<div class="porject__link">
						<a href="https://github.com/Sousx-Lab/SymfonyMercureChat" rel="noopener" target="_blank">En savoir plus</a>
					</div>
				</div>
			</div>

			<div class="project">
				<div class="project__img">
					<img src="https://picsum.photos/490/350?image=500" alt="">
				</div>

				<div class="project__description">
					<div class="top__title">Projet 4</div>
					<div class="project_name">ProjectName</div>
					<div>
						orem ipsum dolor sit amet consectetur adipisicing elit. Suscipit qui quasi ab non voluptate voluptates a, vero id tempora ratione, rem rerum incidunt placeat adipisci amet assumenda deleniti libero illum.
					</div>
					<div class="porject__link">
						<a class="porject__link" href="">En savoir plus</a>
					</div>
				</div>
			</div>
		</section>
	{% endblock %}
