
// *{
//   background: #000 !important;
//   color: #0f0 !important;
//   outline: solid #f00 1px !important; 
// }

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html{
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    body {
        position: relative;
        width: 100%;
        font-size: 15px;
        background-image: $bgImage;
        background-color: $mainBg;
    }    
}


*::-webkit-scrollbar{
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: $mainBg;
}

*::-webkit-scrollbar-thumb {
    background-color: $lightBg; 
    border-radius: 3px; 
    border: 0.5px solid rgba($color: $white, $alpha: 0.1);
}

.fade{
    opacity: 0!important;
    transform: translateY(30px)!important;
}

.fade.in{
    opacity: 1!important;
    transform: translateY(0)!important;
    transition: .5s cubic-bezier(.5,0,0,1);
    transition-property: opacity,transform;
}
