{% extends "base.html.twig" %}

{% block title %} 
    Nassim Hattab | Contact
{% endblock %}

{% block body %}

    <section class="section contact">
            <div class="sub__title fade" data-delay="2">Me contacter </div>
            <form class="form__contact" action="" method="post">
                <div> <input class="input" type="text" name="name" id=""></div>
                <div><input class="input" type="text" name="object" id=""> </div>
                <div> <input class="input" type="email" name="email" id=""></div>
                <div> <textarea class="input" name="" id="" cols="30" rows="10"></textarea></div>
            </form>

    </section>
{% endblock %}

