 
<footer> 
    <div class="credit fade" data-delay="1">Design par Quomodo & inspiré par Jonathan Boyer - Intégration et développement 
    <a href="/">Nassim</a>
   </div>
   {% block javascripts %}
            <script src="build/app.js" defer></script>
            {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</footer>