 <section class="section contact__section">
			<div class="top__title fade" data-delay="1">Réseaux sociaux</div>
			<div class="sub__title fade" data-delay="2">Me retrouver</div>
			<div class="social__media">
				<a class="media fade" data-delay="25" href="https://linkedin.com/in/nassim-hattab-413900142/" rel='noopener noreferrer' target="_blank">
					<div class="media__name">LinkedIn
						<img src="/img/linkedin.svg" alt="linkedin-icon">
					</div>
					<div class="media__link">linkedin.com/in/nassim-hattab-413900142</div>
				</a>
				<a class="media fade" data-delay="30" href="https://github.com/Sousx-Lab" rel='noopener noreferrer' target="_blank">
					<div class="media__name">GitHub
						<img src="/img/github.svg" alt="github-icon">
					</div>
					<div class="media__link">github.com/Sousx-Lab</div>
				</a>
				<a class="media fade" data-delay="35" href="https://twitter.com/_NassimHattab" rel="noopener noreferrer" target="_blank">
					<div class="media__name">Twitter
						<img src="img/twitter.svg" alt="twitter-icon">
					</div>
					<div class="media__link">twitter.com/_NassimHattab</div>
				</a>
			</div>
		</section>
<footer> 
    <div class="credit fade" data-delay="1">Design par Quomodo & inspiré par Jonathan Boyer - Intégration et développement 
    <a href="/">Nassim</a>
   </div>
   {% block javascripts %}
            <script src="build/app.js" defer></script>
            {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</footer>